<!-- contact-form.component.html -->
<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
      <div class="text-center mb-5">
        <div
          class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"
        >
          <i class="bi bi-envelope"></i>
        </div>
        <h1 class="fw-bolder">Get in touch</h1>
        <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit()"
            name="contact"
            netlify
          >
            <input type="hidden" name="form-name" value="contact" />
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="name"
                type="text"
                placeholder="Enter your name..."
                formControlName="name"
              />
              <label for="name">Full name</label>
              <div
                *ngIf="
                  contactForm.get('name')?.invalid &&
                  contactForm.get('name')?.touched
                "
                class="invalid-feedback"
              >
                A name is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="email"
                type="email"
                placeholder="name@example.com"
                formControlName="email"
              />
              <label for="email">Email address</label>
              <div
                *ngIf="
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
                "
                class="invalid-feedback"
              >
                A valid email is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="phone"
                type="tel"
                placeholder="(123) 456-7890"
                formControlName="phone"
              />
              <label for="phone">Phone number</label>
              <div
                *ngIf="
                  contactForm.get('phone')?.invalid &&
                  contactForm.get('phone')?.touched
                "
                class="invalid-feedback"
              >
                A phone number is required.
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                placeholder="Enter your message here..."
                style="height: 10rem"
                formControlName="message"
              ></textarea>
              <label for="message">Message</label>
              <div
                *ngIf="
                  contactForm.get('message')?.invalid &&
                  contactForm.get('message')?.touched
                "
                class="invalid-feedback"
              >
                A message is required.
              </div>
            </div>
            <div *ngIf="submitSuccess" class="alert alert-success" role="alert">
              Form submission successful!
            </div>
            <div *ngIf="submitError" class="alert alert-danger" role="alert">
              Error sending message!
            </div>
            <div class="d-grid">
              <button
                class="btn btn-primary btn-lg"
                type="submit"
                [disabled]="contactForm.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
