<app-header />
<!-- About Section-->
<section class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder">
            <span class="text-gradient d-inline">About Me</span>
          </h2>
          <p class="lead fw-light mb-4">
            My name is <strong>Anatolii Stoliarenko</strong> and I am a
            <strong>Full-stack Developer</strong>
          </p>
          <p class="text-muted">
            With nearly 3 years of experience developing web applications using
            <strong>Angular</strong> and <strong>Node.js</strong>, I am a highly
            motivated and goal-oriented individual. My diverse life experiences
            have shaped my strong sense of responsibility and determination.
            Previously, as a civil engineer, I gained valuable team management
            skills, which I now apply to my software development career. I
            thrive on challenges, constantly setting new goals to push myself
            toward continuous improvement. I am always seeking opportunities to
            excel and achieve new levels of success.
          </p>
          <div class="d-flex justify-content-center fs-2 gap-4">
            <!-- <a class="text-gradient" href="#!"
                        ><i class="bi bi-twitter"></i
                      ></a> -->
            <a
              class="text-gradient"
              href="https://www.linkedin.com/in/anatolii-stoliarenko/"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              class="text-gradient"
              href="https://github.com/Anatolii-Stoliarenko"
              ><i class="bi bi-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
