<app-header />
<!-- About Section-->
<section class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder">
            <span class="text-gradient d-inline">About Me</span>
          </h2>
          <p class="lead fw-light mb-4">
            My name is <strong>Anatolii Stoliarenko</strong> and I am an
            <strong>Angular Developer</strong>
          </p>
          <p class="text-muted">
            With around 3 years of experience in developing web applications
            using Angular and React, I am highly motivated and responsible. My
            life experience has taught me what I want, and I am very
            goal-oriented. I have significant experience in team management from
            my previous role as a civil engineer. I thrive on challenges and
            constantly set goals for myself, so I have something to strive
            toward. I’m always looking for an opportunity to do better and
            achieve greatness.
          </p>
          <div class="d-flex justify-content-center fs-2 gap-4">
            <!-- <a class="text-gradient" href="#!"
                        ><i class="bi bi-twitter"></i
                      ></a> -->
            <a
              class="text-gradient"
              href="https://www.linkedin.com/in/anatolii-stoliarenko/"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              class="text-gradient"
              href="https://github.com/Anatolii-Stoliarenko"
              ><i class="bi bi-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
