<!-- Project Card 1-->
<div *ngIf="project">
  <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
    <div class="card-body p-0">
      <div class="d-flex align-items-center">
        <div class="p-5">
          <h2 class="fw-bolder">{{ project?.title }}</h2>
          <div [innerHTML]="formatDescription(project?.description)"></div>
          <p>
            <a [href]="project?.projectUrl" target="_blank">Go to Site</a>
          </p>
          <p><a [href]="project?.gitHubUrl" target="_blank">Go to GitHub</a></p>
        </div>
        <img
          class="img-fluid"
          [src]="project?.imageUrl"
          alt="{{ project?.title }}"
        />
      </div>
    </div>
  </div>
</div>
<!-- src="https://dummyimage.com/300x400/343a40/6c757d" -->
<!--  href="https://ng-medium-clone.netlify.app/" -->
